<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>my_annotations</title>
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="/css/MyAnnotations.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
</html>
<body>
  <div class="container1">
    <% bookid.forEach(function(el){%>
    <div class="colum1">
      <input type="hidden" class="titleInv" id="<%=el.id %>" />
      <div class="home">
        <a href="/home">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="30px"
            viewBox="0 -960 960 960"
            width="30px"
            fill="#4F674F"
          >
            <path
              d="M200-160v-377.92l-83.23 64-18.31-24.16L200-576v-100.92h30.77v76.46L480-790l381.54 292.15-18.31 23.93-83.23-64V-160H530.77v-221.54H429.23V-160H200Zm0-569.23q0-34.46 22.12-58.77 22.11-24.31 62.5-24.31 27.92 0 40.88-15.38 12.96-15.39 12.96-36.93h30.77q0 34.24-21.61 58.66-21.62 24.42-63 24.42-27.7 0-40.77 15.27-13.08 15.27-13.08 37.04H200Z"
            />
          </svg>
        </a>
      </div>
      <div class="picture">
        <img src="<%= el.image %>" alt="books cover" />
      </div>
      <div class="button">
        <a href="/remove/<%= el.id %>">
          <input type="button" value="Remove" />
        </a>
      </div>
      <div class="description">
        <p class="autor">Autor: <%= el.autor %></p>
        <p class="publish_Date">Publish date: <%= el.date %></p>
        <p class="language">Language: <%= el.language %></p>
        <p class="pages">Pages: <%= el.pages %></p>
        <p class="subject">Subject: <%= el.type %></p>
      </div>
    </div>

    <div class="colum2">
      <p class="title">Preface</p>
      <% }) %> <% myAnnotations.forEach(function(el){ %>
      <p class="text" id="<%=el.id %>"><%=el.annotation_text %></p>

      <div class="buttons">
        <form action="/edit/<%=el.id %>" method="POST">
          <input type="button" id="<%= el.id %>" class="edit" value="Edit" />
        </form>
        <form action="/delete/<%=el.id%>" method="POST">
          <input type="hidden" name="idMain" value="<%=el.book_id %>" />
          <input
            type="submit"
            id="<%= el.id %>"
            class="delete"
            value="Delete"
          />
        </form>
      </div>
      <% })%>
      <form>
        <input
          style="cursor: pointer"
          id="form-text"
          class="inputSend"
          type="button"
          value="+"
        />
      </form>
    </div>
  </div>
  <script src="/js/indexAnnotation.js"></script>
</body>
