<%- include('partial/headMy.ejs') %>
<body>
  <div class="container1">
    <form class="book-search" action="/search" method="post">
      <input
        class="inputBooks"
        type="text"
        name="search"
        autocomplete="off"
        placeholder="Enter book"
      />

      <div class="dropdown">
        <ul id="dropdownList"></ul>
      </div>
    </form>
  </div>
  <div class="container2">
    <% if(locals.bookid){ %> <% bookid.forEach(function(el){%>
    <div>
      <a href="/myAnnotations/<%= el.id %>">
        <img src="<%= el.image %>" alt="cover_book" width="100px" />
      </a>
      <h4><%=el.name%></h4>
      <p><%=el.autor%></p>
    </div>
    <% }) %> <% } %>
  </div>
</body>
