<%- include('partial/headMy.ejs') %>
<body>
  <div class="container1">
    <form class="book-search" action="/search" method="post">
      <input
        type="text"
        name="search"
        autocomplete="off"
        placeholder="Enter book name, author or isbn"
      />

      <div class="dropdown">
        <ul id="dropdownList"></ul>
      </div>
    </form>
  </div>
  <div class="container2">
    <% if(locals.bookid){ %> <% bookid.forEach(function(el){%>
    <div class="id<%= el.id %>">
      <img
        src="https://covers.openlibrary.org/b/olid/<%=el.olid%>-M.jpg"
        alt="cover_book"
        width="100px"
      />
      <h4><%=el.name%></h4>
      <p><%=el.autor%></p>
    </div>
    <% }) %> <% } %>
  </div>
</body>
